/addition.py
/arithmetic.py
/conditions.py
/coordinates1.py
/coordinates2.py
/count1.py
/count2.py
/David Malan week2 files.code-workspace
/employees.csv
/employees1.py
/employees2.py
/employees3.py
/hello1.py
/hello2.py
/hello3.py
/hello4.py
/hello5.py
/hellodean.py
/imprecision.py
/inventory1.py
/inventory2.py
/inventory3.py
/managers1.py
/OH_Binary_Classification_Model.ipynb
/positive.py
/README.md
/revenue1.py
/revenue2.py
/xgboost_bo_model.pkl